#footer {
  background-color: rgb(240, 240, 240);
  padding: 4em;
  position: relative;
}

#footer #footer-arrow {
  position: absolute;
  left: calc(50% - 25px);
  top: -60px;
}

#footer svg:hover {
  color: rgb(81, 81, 81);
  cursor: pointer;
}

#footer div {
  text-align: center;
}

#footer div a {
  color: black;
}

#footer em {
  font-style: italic;
  font-size: .9em;
}

#socials-icons {
  display: flex;
  gap: .8em;
  justify-content: center;
  padding: .5em 0 0 0;
}
