#header {
  background-color: rgb(240, 240, 240);
  padding: 5px 0;
  text-align: center;
  font-size: 22px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#header a {
  text-decoration: none;
  color: black;
}

#header svg {
  margin: -0.1em 0 0 -0.4em;
}
