#header {
  background-color: rgb(240, 240, 240);
  height: 50px;
  text-align: center;
  font-size: 22px;
  width: 100%;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode #header {
  background-color: rgb(40, 40, 40);
}

#header a {
  text-decoration: none;
  color: black;
}

.dark-mode #header a {
  color: white;
}

#header svg {
  margin: -0.1em 0 0 -0.4em;
}

#header #dark-mode-icon {
  position: absolute;
  right: 20px;
  top: 18px;
  cursor: pointer;
}
