/* GLOBAL */
.display-none {
  display: none !important;
}

.not-visible {
  visibility: hidden;
}


/* CURSOR */

@keyframes cursor-animation-light-mode {
  0% {border-color: rgba(0, 0, 0, 1);}
  50% {border-color: rgba(0, 0, 0, 0);}
  100% {border-color: rgba(0, 0, 0, 1);}
}

@keyframes cursor-animation-dark-mode {
  0% {border-color: rgb(255, 255, 255, 1);}
  50% {border-color: rgba(255, 255, 255, 0);}
  100% {border-color: rgb(255, 255, 255, 1);}
}

#cursor {
  border-right: 1px solid;
}

.cursor-animation {
  animation-name: cursor-animation-light-mode;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.dark-mode .cursor-animation {
  animation-name: cursor-animation-dark-mode;
}


/* CHARACTER CONTAINERS */

#typing-test-container {
  display: flex;
}

#typing-test-container:focus {
  outline: 0px solid transparent;
}

.char-container {
  overflow: hidden;
  white-space: pre;
  font-size: 40px;
  line-height: normal;
  letter-spacing: 0.015em;
}

#typed-chars {
  display: flex;
  justify-content: flex-end;
  width: 10em;
}

#untyped-chars {
  width: 10em;
}

#error-chars {
  text-decoration-line: line-through;
}
