.char-container {
  overflow: hidden;
  white-space: pre;
  font-size: 40px;
  line-height: normal;
  letter-spacing: 0.015em;

  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#typed-chars {
  display: flex;
  justify-content: flex-end;
  width: 10em;
}

#cursor {
  border-right: 1px black solid;
}

#untyped-chars {
  width: 10em;
}
